    @font-face {
        font-family: 'Goth';
        src: url(fonts/Osgard\ Pro.otf) format('truetype');
    }

    @font-face {
        font-family: 'Goth 2';
        src: url(fonts/Cambridge.ttf) format('truetype');
    }

    @font-face {
        font-family: 'MontserratBold';
        src: url(fonts/Montserrat-Bold.ttf) format('truetype');
    }

    @font-face {
        font-family: 'Baskerville';
        src: url(fonts/BaskervilleBoldBT.ttf) format('truetype');
    }

    html, body
    {   
        scroll-behavior: smooth;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        overflow: auto;
    }

    ::-webkit-scrollbar
    {
        width: 10px;
        height: 10px;
        display: none;
    }


    ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px; 
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    .top-header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        color: #D6D6D6;
        padding: 10.8px 0;
        padding-top: 0%;
        padding-left: 1%;
        text-align: left;
        z-index: 1000; 
        font-family: "Goth", sans-serif;
        font-size: 40px;
    }

    a{
        color: inherit;
        text-decoration: none;
    }

    .top-header h1{
        margin: 0;
    }

    .top-header a:hover{
        color: #DC143C ;
        transition: color 0.3s ease, text-decoration 0.3s ease;
    }

    .container1{
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }

    .container1::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px; 
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
        z-index: 1;
    }

    .container2::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px; 
        background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
        z-index: 1;
    }

    .container2::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
        z-index: 1;
    }
    
    .container3::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;  
        background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
        z-index: 1;
    }
    
    #wallpaper1{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        opacity: .95;
    }

    #title {
        font-family: "Goth 2", sans-serif;
        font-size: 120px;
        color: white;
        padding-bottom: 50px;
        text-shadow: 0 0 10px black , 0 0 4px white;
        letter-spacing: 5px;
    }

    .content1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .start-button:hover{
        color: #DC143C ;
        transition: color 0.3s ease, text-decoration 0.3s ease;
    }

    .start-button{
        display: inline-block;
        padding: 15px 30px;
        margin-top: -60px; 
        color: white;
        text-shadow: 0 0 10px black, 0 0 4px white;
        font-family: "Goth", sans-serif;
        font-size: 40px;
        text-decoration: none; 
        border-radius: 5px; 
        text-align: center;
    }

    .container2{
        position: relative;
        width: 100%;
        height: 100vh; 
        overflow: hidden;
        padding-top: 60px;
    }

    #wallpaper2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        opacity: .95;
    }

    .content2 {
        position: relative;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        color: white;
        max-width: 45%;
        font-family: 'Baskerville';
        text-shadow: 0 0 10px black;
    }

    #name{   
        font-size: 55px;
        margin-bottom: 5px;
    }

    #section{
        font-size: 35px;
        margin-bottom: 5px;
    }

    #description-container{
        width: 90%;
        margin: 0 auto;
        padding: 10px;
        text-align: justify;
        display: inline-block;
    }

    #description{
        text-align: center;
        font-size: 25px;
        margin-bottom: 5px;
    }

    #section3 {
        width: 100%; 
        height: 100vh;
        background-image: url('assets/wallpaper3.jpg');
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat; 
    }

    .outputs-button {
        position: relative;
        display: inline-block;
        padding: 15px 30px;
        margin-bottom: 10px;
        color: white;
        text-shadow: 0 0 10px black, 0 0 4px white;
        font-family: "Goth", sans-serif;
        font-size: 40px;
        text-decoration: none; 
        border-radius: 5px; 
        text-align: center;
    }

    .container3 {
        display: flex; 
        justify-content: center;
        align-items: center; 
        height: 100vh;
        position: relative;
        text-align: center;
    }
    
    .content3 {
        display: grid; 
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr); 
        gap: 20px; 
        width: fit-content; 
        max-width: 1000px;
    }
    
    .button-box {
        width: 450px; 
        height: 200px; 
        border-radius: 20px; 
        border: 1px solid rgba(255, 2555, 255, 0.5);
        background-size: cover; 
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px; 
        color: white; 
        text-shadow: 1px 1px 2px black; 
      }
      
    
    .button-box:hover {
        border-color: #DC143C;
    }
    
    .button-box, #box1 {
        background-image: url('assets/witcher1.jpg');
        background-size: cover;
        background-position: center;
    }
    
    .button-box, #box2 {
        background-image: url('assets/witcher2.jpg');
        background-size: cover;
        background-position: center;
    }
    
    .button-box, #box3 {
        background-image: url('assets/witcher3.jpg');
        background-size: cover;
        background-position: center;
    }
    
    .button-box, #box4 {
        background-image: url('assets/witcher4.jpg');
        background-size: cover;
        background-position: center;
    }
    
    .box-text {
        position: absolute;
        color: white;
        font-size: 35px;
        font-family: 'Goth', sans-serif;
        text-shadow: 0 0 10px black, 0 0 4px white;
        z-index: 10;
    }